@import 'components/menu/_menu.scss';
@import 'components/game/_game.scss';
@import 'components/counter/_counter.scss';
@import 'components/about/_about.scss';
@import '/canvas';

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  background-color: #b3b3ff;
  background-size: 100%;
}
.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}
.masthead {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 40px;
}
.content {
  width: 75%;
  padding: 40px;
  min-height: 540px;
}
.foot {
  font-family: 'Redressed', cursive;
  margin-top: 25px;
  clear: both;
  text-align: center;
  padding: 20px;
  font-size: 18px;
  color: #8000ff;
}
.content-reglog {
  font-family: 'Redressed', cursive;
  margin-top: 50px;
  text-align: center;
  color: #4169e1;
  font-size: 24px;
  & a {
    color: #ff6347;
    &:visited {
      text-decoration: none !important;
    }
    &:hover {
      color: #ff6347;
    }
  }
}

.login-form {
  text-align: center;
  margin-top: 30px;
  font-family: 'Redressed', cursive;
  &__row {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 20px;
  }
  &__input {
    border-radius: 10px;
    border: 2px solid;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 220px;
    height: 30px;
    padding: 8px;
    &:focus {
      outline: none;
    }
  }
  &__submit {
    border-radius: 10px;
    border: 2px solid black;
    width: 120px;
    height: 35px;
    background-color: #e6e6fa;
    font-size: 16px;
    color: #4169e1;
    font-weight: bold;
    font-family: inherit;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      outline: none;
    }
  }
}
.error {
  height: 60px;
  margin: auto;
  margin-top: 5px;
  text-align: center;
  line-height: 50px;
  font-size: 26px;
  border: 2px solid;
  border-color: red;
  background-color: #ffb3b3;
  color: red;
}
