<html> 
<head> 
	<link rel="stylesheet" type="text/css" href="/static/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
	<title>The Game</title> 
</head> 
<body> 
	<div class="container">
		<header>
			<div class = "masthead">
				The Penguin Game 
			</div>
		</header>
		

		<aside>
			<div class="menu">
				
					Menu
				
			</div>
		</aside>

		<section>
			<div class ="content">
				Play The Game!!!
			</div>

		</section>


		<footer>
			<div class = "foot">
				All rights reserved &copy
			</div>
		</footer>
	</div> 
</body> 
</html>