<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Lobster&display=swap"
      rel="stylesheet"
    />
    <script src="/static/scripts.js"></script>
    <title>The Game</title>
  </head>
  <body>
    <div class="container">
      <header class="masthead">
        The Penguin Game
      </header>
      <div class="menu">
        Menu
      </div>
      <div class="content">
        Play The Game!!!
      </div>
      <footer class="foot">
        All rights reserved &copy
      </footer>
    </div>
  </body>
</html>
