<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
	<script src="/static/scripts.js"></script>
	<title>Penguin Game</title>
</head>
<body>
	<div class="container">
		<header class = "masthead">
			Penguin Game
		</header>
			<div class="Login_html">
				<form action="/login-auth" method="get" autocomplete="off">
					<div class="register">
						<label for="name">Name</label><br>
						<input name="name" type="text" required>
					</div>
					<div class="register">
						<label for="password">Password</label><br>
						<input name="password" type="password" required>
					</div>
					<div class="register">
						<input type="submit" value="Play">
					</div>
				</form>
			</div>
		<footer class = "foot">		
			All rights reserved &copy
		</footer>
	</div>
</body>
</html>