<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Lobster&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Bangers"
    />
    <script async src="/static/scripts.js"></script>
    <title>Menu</title>
  </head>
  <body>
    <div class="container">
      <header class="masthead">
        The Penguin Game
      </header>
      <div id="root"></div>
      <footer class="foot">
        All rights reserved &copy
      </footer>
    </div>
  </body>
</html>
