body {
   background: url("background.jpg");
   background-size: 100%;
   background-attachment: fixed;
}
header {
	text-align: center
}
div.container {
	margin-left: auto;
	margin-right: auto;
}
footer {
	margin-top: 15px;
}
form{
	padding: 15px;
}
form div.register {
	margin: auto;
	margin-bottom: 10px;
}
form input {
	padding: 5px;
	border-radius: 5px;
}
div.login_main {
text-align: center;
margin-top: 40px;
}

form div.login {
	margin: auto;
	margin-bottom: 10px;
}